# local environment (로컬)
spring:
  datasource:
    url: jdbc:h2:mem:test
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
    database-platform:

logging:
  level: #띄어쓰기 없음
    org.hibernate.SQL: debug
#    org.hibernate.type: trace